<main>
    <section>
        <div class="foto-item">
            <img src="../../../assets/iphone-7.jpg" width="100%">
            <div>
                <span class="material-symbols-outlined">radio_button_checked</span>
                <span class="material-symbols-outlined">radio_button_unchecked</span>
                <span class="material-symbols-outlined">radio_button_unchecked</span>
                <span class="material-symbols-outlined">radio_button_unchecked</span>
            </div>
        </div>
        <h2>Iphone 7 64gb</h2>
        <div class="informacoes">

            <h4>Informações</h4>

            <ul>
                <li>1 ano de uso</li>
                <li>Saúde da bateria em 90%</li>
                <li>Nenhum arranhão ou trincado</li>
                <li>Acompanha carregador</li>
                <li>Não possui garantia</li>
            </ul>
        </div>

        <h3>Vendedor</h3>

        <div class="anunciante">

            <div class="foto-vendedor">
                <img src="../../../assets/Cleiton.png" width="100%">
            </div>
            <h4>João Matos</h4>

            <div class="avaliacao-vendedor">
                <h1>Avaliação</h1>
                <div>
                    <p>145</p>
                    <span class="material-symbols-outlined">star</span>
                    <span class="material-symbols-outlined">star</span>
                    <span class="material-symbols-outlined">star</span>
                    <span class="material-symbols-outlined">star</span>
                    <span class="material-symbols-outlined">star_half</span>
                </div>
                <span class="nota">4.5</span>
            </div>
        </div>

        <button>Adicionar ao carrinho</button>

        <a>Comentários <span class="material-symbols-outlined">chevron_right</span></a>
    </section>
</main>
