<main>
    <div class="novos-produtos">
        <h3>Novos produtos</h3>
    
        <section>
            <div (click)="item()" class="item">
                <img src="../../../../assets/iphone-7.jpg">
                <h3 class="nome">
                    Iphone 7 64gb
                </h3>
                <h4 class="valor">
                   R$740,00
                </h4>
            </div>

            <div class="item">
                <img src="../../../../assets/capa-iphone.png">
                <h3 class="nome">
                    Capa IPHONE 11
                </h3>
                <h4 class="valor">
                    R$20,00
                </h4>
            </div>
    
            <div class="item">
                <img src="../../../../assets/violao-giannini-gd-01.png">
                <h3 class="nome">
                    Violão Giannini g...
                </h3>
                <h4 class="valor">
                   R$760,00
                </h4>
            </div>
    
            <div class="item">
                <img src="../../../../assets/notebook-dell-i5.png">
                <h3 class="nome">
                    Notebook DELL i5 ...
                </h3>
                <h4 class="valor">
                   R$1450,00
                </h4>
            </div>
            <div class="item">
                <img src="../../../../assets/sansung-s22-ultra.png">
                <h3 class="nome">
                    Sansung s22 Ultra...
                </h3>
                <h4 class="valor">
                   R$2100,00
                </h4>
            </div>
            <div class="item">
                <img src="../../../../assets/relógio-galaxy-watch.png">
                <h3 class="nome">
                    Relógio Galaxy W...
                </h3>
                <h4 class="valor">
                   R$420,00
                </h4>
            </div>
            <div class="item">
                <img src="../../../../assets/fone-de-ouvido.png">
                <h3 class="nome">
                    Fones de ouvido b...
                </h3>
                <h4 class="valor">
                   R$86,00
                </h4>
            </div>
        </section>   
    </div>

    <div class="vendedores-populares">
        <h3>Vendedores populares</h3>
    
        <section>
            <div class="item">
                <img src="../../../../assets/Cleiton.png">
            </div>

            <div class="item">
                <img src="../../../../assets/rose.png">
            </div>

            <div class="item">
                <img src="../../../../assets/ana.png">
            </div>

            <div class="item">
                <img src="../../../../assets/jao.png">
            </div>
    
            <div class="item">
                <img src="../../../../assets/maria.png">
            </div>
        </section>   
    </div>

    <div class="todos-produtos">

        <h3>Todos os itens</h3>
        <section>
            <div class="item">
                <img src="../../../../assets/rede.jpeg">
                <h4>Rede de des...</h4>
                <h5>R$80,00</h5>
            </div>
            <div class="item">
                <img src="../../../../assets/cadeira.jpg">
                <h4>Caderira Ga...</h4>
                <h5>R$500,00</h5>
            </div>
            <div class="item">
                <img src="../../../../assets/livro.jpg">
                <h4>Livro Pesso...</h4>
                <h5>R$30,00</h5>
            </div>
            <div class="item">
                <img src="../../../../assets/camplet.jpg">
                <h4>Compler de T...</h4>
                <h5>R$24,00</h5>
            </div>
            <div class="item">
                <img src="../../../../assets/ventilador.jpg">
                <h4>Ventilador d...</h4>
                <h5>R$160,00</h5>
            </div>
            <div class="item">
                <img src="../../../../assets/panela.jpg">
                <h4>Panela Elétr...</h4>
                <h5>R$130,00</h5>
            </div>
            <div class="item">
                <img src="../../../../assets/suporte.jpg">
                <h4>Suporte TV</h4>
                <h5>R$40,00</h5>
            </div>
            <div class="item">
                <img src="../../../../assets/monitor.jpg">
                <h4>Monitor Ga...</h4>
                <h5>R$600,00</h5>
            </div>
            <div class="item">
                <img src="../../../../assets/martelo.jpg">
                <h4>Martelo Sp...</h4>
                <h5>R$25,00</h5>
            </div>
         
        </section>

        <span>
            <span class="material-symbols-outlined">arrow_back_ios</span> 
            <a href="">1</a>
            <a href="">2</a>
            <a href="">3</a>
            <a href="">...</a>
            <span class="material-symbols-outlined">arrow_forward_ios</span>
        </span>
    </div>
</main>
