main {
    width: 100%;
    padding-top: 350px;
    padding-bottom: 250px;
    display: flex;
    align-items: center;
    justify-content: center;

    span {
        width: 40px;
        height: 40px;
        border: 15px solid blue;
        border-radius: 100%;
        border-left-color: transparent;
        animation: rotate 1s linear infinite;
    }
}

@keyframes rotate {
    100% {
        transform: rotateZ(360deg);
    }
    
}