<main>
    <header>
        <div>
            <span class="material-symbols-outlined">arrow_back</span><h1>Seu carrinho</h1>
        </div>
        <h1>Itens: 2</h1>
    </header>
    
    <div class="total-compra">
        <h1>Total:</h1><h1>R$824,00</h1>
    </div>
    
    <section>
        <div class="foto-item">
            <img src="../../../assets/iphone-7.jpg" height="100%" width="100%">
        </div>
        <div class="nome-item">
            Iphone 7 64gb <br>

            <p>Anuncinate: João Matos</p>

        </div>
        <div class="valor-item">
            R$740,00
        </div>
        <div class="remover-item">
            <span class="material-symbols-outlined">delete</span>
        </div>
    </section>
    <section>
        <div class="foto-item">
            <img src="../../../assets/fone-de-ouvido.png" height="100%" width="100%">
        </div>
        <div class="nome-item">
            Fone de ouvido bluetooth <br>

            <p>Anuncinate: Maria Nascimento</p>

        </div>
        <div class="valor-item">
            R$84,00
        </div>
        <div class="remover-item">
            <span class="material-symbols-outlined">delete</span>
        </div>
    </section>

    <app-btn-finalizar></app-btn-finalizar>
   
</main>