<main>
    <h1><span (click)="return()" class="material-symbols-outlined">arrow_back</span>Pagina do vendedor</h1>
    <section>
        <h1>Avaliação<span><p>(<span>5</span>)</p>
            <span class="material-symbols-outlined">star</span>
            <span class="material-symbols-outlined">star</span>
            <span class="material-symbols-outlined">star</span>
            <span class="material-symbols-outlined">star</span>
            <span class="material-symbols-outlined">star</span>
        </span><span class="avaliacao">5.0</span></h1>
    </section>
    <section>
        <h1>Itens vendidos:<span>5</span></h1>
        <h1>Valor obtido:<span>R$543,50</span></h1>
    </section>

    <section>
        <div id="configs">
            <span class="material-symbols-outlined">mail</span>
            <span class="material-symbols-outlined">chat</span>
            <span class="material-symbols-outlined">person</span>
            <span class="material-symbols-outlined">settings</span>
        </div>

        <a href="">Visualizar histórico de vendas</a>
    </section>

    <section id="itens">
        <div>
            <span class="material-symbols-outlined">add</span>
            Vender Item
        </div>
        <div>
            <span class="material-symbols-outlined">receipt_long</span>
            Itens a venda
        </div>
    </section>
    
</main>
