<header>
    <span class="material-symbols-outlined">language</span> <h3>PT-BR</h3>
    <span class="material-symbols-outlined">manufacturing</span>
    <span routerLink="login" class="material-symbols-outlined">person</span>
</header>
<main>
    <div>
        <section routerLink="" class="logo">
            <h1>Uni<span>Usados</span></h1>   
          </section>
    </div>
    <nav>
        <section class="search">
            <div>
                <span class="material-symbols-outlined">search</span>
                <input id="input-search" />
            </div>
        </section>
        <section routerLink="cart" class="bag">
            <span class="material-symbols-outlined">shopping_cart</span>
            <div>{{ itensInBag }}</div>
        </section>
    </nav>
</main>

