main {
    padding-top: 225px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-family: 'Poppins', sans-serif;
    padding-bottom: 50px;

    h1 {
        font-size: 25px;
    }

    p {
        font-size: 16px;
        width: 70%;
        text-align: center;

        
        span {
            text-decoration: underline;
        }
    }

    form {
        width: calc(90% - 100px) ;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 20px;

        fieldset {
            width: 100%;
            position: relative;
            display: flex;
            flex-direction: column;
            justify-content: left;
            border-radius: 10px;
            padding: 4px;
            margin: 5px;
            border: 1px solid black;

            span {
                position: absolute;
                right: 10px;
                font-size: 20px;
            }

            legend {
                font-size: 16px;
                margin-left: 10px;
                font-weight: 600;
            }
        }

        input {
            width: 90%;
            padding: 5px;
            padding-left: 10px;
            border: none;
            outline: none;
            font-size: 16px;
        }
    }

    button {
        width: 100px;
        height: 40px;
        border-radius: 10px;
        background-color: white;
        margin: 20px;
        font-size: 16px;
        border: 1px solid black;
    }
}