<nav [hidden]="openMenuService.isMenuVisible()">
    <section>
        <h3>Eletrônicos</h3>
        <span>
            <a href="">Smartphones</a>
            <a href="">Tablets</a>
            <a href="">Laptops</a>
            <a href="">Câmeras</a>
            <a href="">Acessórios</a>
        </span>
    </section>
    <section>
        <h3>Moda</h3>
        <span>
            <a href="">Roupas</a>
            <a href="">Calçados</a>
            <a href="">Bolsas</a>
            <a href="">Acessórios de moda</a>
        </span>
    </section>
    <section>
        <h3>Livros e Mídia</h3>
        <span>
            <a href="">Livros</a>
            <a href="">Filmes</a>
            <a href="">CDs de música</a>
            <a href="">Jogos de vídeo game</a>
        </span>
    </section>
    <section>
        <h3>Esportes e Fitness</h3>
        <span>
            <a href="">Equipamentos esportivos</a>
            <a href="">Roupas esportivas</a>
            <a href="">Bicicletas</a>
            <a href="">Acessórios para fitness</a>
        </span>
    </section>
    <section>
        <h3>Instrumentos Musicais</h3>
        <span>
            <a href="">Guitarras</a>
            <a href="">Teclados</a>
            <a href="">Baterias</a>
            <a href="">Instrumentos de sopro</a>
        </span>
    </section>
    <section>
        <h3>Arte e Antiguidades</h3>
        <span>
            <a href="">Quadros</a>
            <a href="">Esculturas</a>
            <a href="">Antiguidades colecionáveis</a>
            <a href="">Itens de arte popular</a>
        </span>
    </section>
    <section>
        <h3>Beleza e Saúde</h3>
        <span>
            <a href="">Produtos de beleza</a>
            <a href="">Equipamentos de saúde</a>
            <a href="">Suplementos nutricionais</a>
        </span>
    </section>
</nav>