<main>
    <section>

        <div class="titulo">
            <h1>Itens:</h1><h1>2</h1>
        </div>

        <div>
            <section>
                <h3>Iphone 7 64gb</h3>
                <h3>R$740,00</h3>
            </section>
            <section>
                <h3>Fone de ouvido bluetooth</h3>
                <h3>R$84,00</h3>
            </section>
        </div>

        <div class="total">
            <h1>Valor total:</h1><h1>R$824,00</h1>
        </div>

        <div class="total"><h1>Forma de pagamento:</h1></div>

        <div class="forma-de-pagamento">
            <section>
                <img id="imagem-1" src="../../../assets/pix.png" width="130px" height="60px">
                <input type="radio">
            </section>
           <section>
            <img id="imagem-2" src="../../../assets/cartao.png" width="100px" height="80px">
                <input type="radio">
           </section>
            
        </div>
    </section>

    <section class="button">
        <button>FINALIZAR PAGAMENTO</button>
    </section>
    
</main>
