<main>
    <section>
        <span class="material-symbols-outlined">
            account_circle
            </span>
        <h1>César Caus</h1>
        <p>Goiânia-Go</p>
    </section>
    

    <section id="links">
        <div (click)="paginavendedor()">Pagina do vendedor</div>
        <div>Informações pessoais</div>
        <div>Informações de pagamento</div>
        <div>Senha e segurança</div>
        <div (click)="historico()">Histórico de compras</div>
        <div>Politica de privacidade</div>
    </section>
</main>